@using ControleEmpresasFuncionariosMvc.Dtos
@model ControleEmpresasFuncionariosMvc.Models.ViewModels.ResponseViewModel<PersonDto>

@{
    ViewData["Title"] = "Adicionar PESSOA";
}

<br />

<div class="d-flex justify-content-center">
    <div class="alert alert-dismissible alert-success text-center">
        <h3>@ViewData["Title"]</h3>
    </div>
</div>

<hr class="custom-hr" />

<div class="row justify-content-center">
    <div class="alert alert-dismissible alert-primary width-style2">

        <form action="Create" method="post">

            @if (string.IsNullOrEmpty(this.Model.Message) == false)
            {
                <div class="text-danger">@(this.Model.Message)</div>
            }

            <br />

            <div class="form-group">
                <label id="Name">Nome</label>
                <input type="text" name="Name" class="control-label input-large" value="@this.Model.Content?.Name" />
            </div>

            <br />

            <div class="form-group">
                <label id="BirthDate">Data de Nascimento (dd/MM/aaaa)</label>
                <input type="date" name="BirthDate" class="control-label input-short" value="@this.Model.Content?.BirthDate" />
            </div>

            <br />

            <div class="form-group">
                <input type="submit" value="Concluir" class="btn btn-success" />
            </div>

        </form>
    </div>
</div>

<hr class="custom-hr" />

<div class="d-flex align-items-center" style="margin-left: 25%; width: 50%;">
    <a type="button" class="btn btn-outline-primary"
       asp-action="Index">
        <i class="bi bi-arrow-left"></i> Voltar à lista de pessoas
    </a>
</div>