@using ControleEmpresasFuncionariosMvc.Dtos
@model ControleEmpresasFuncionariosMvc.Models.ViewModels.ResponseViewModel<PersonDto>

@{
    ViewData["Title"] = "Adicionar PESSOA";
}

<br />

<div class="alert alert-dismissible alert-success">
    <h3>@ViewData["Title"]</h3>
</div>

<hr />

<div class="row alert alert-dismissible alert-primary">
    <div class="col-md-10">
        <form action="Create" method="post">

            @if (string.IsNullOrEmpty(this.Model.Message) == false)
            {
                <div class="text-danger">@(this.Model.Message)</div>
            }

            <br />

            <div class="form-group">
                <label id="Name">Nome</label>
                <input type="text" name="Name" class="control-label input-large" value="@this.Model.Content?.Name" />
            </div>

            <br />

            <div class="form-group">
                <label id="BirthDate">Data de Nascimento (dd/MM/aaaa)</label>
                <input type="date" name="BirthDate" class="control-label input-short" value="@this.Model.Content?.BirthDate" />
            </div>

            <br />

            <div class="form-group">
                <input type="submit" value="Concluir" class="btn btn-success" />
            </div>

            <br />
        </form>
    </div>
</div>

<div>
    <hr />
    <a asp-action="Index">Voltar à lista de pessoas</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}