@using ControleEmpresasFuncionariosMvc.Dtos
@model ControleEmpresasFuncionariosMvc.Models.ViewModels.ResponseViewModel<PersonDto>

@{
    ViewData["Title"] = "Apagar PESSOA";
}

<br />

<div class="alert alert-dismissible alert-danger text-center width-style1">
    <h2>@ViewData["Title"]</h2>
</div>

<hr class="custom-hr w-100" />

<div class="row alert alert-dismissible alert-primary text-center">
    <h4>
        Tem certeza que deseja apagar o registro da Pessoa:
        <br />
        <strong>@this.Model.Content?.Name  ( Data de nascimento: @this.Model.Content?.BirthDate?.ToString("dd/MM/yyyy") )</strong>?
    </h4>

    <form asp-action="Delete">
        <input type="hidden" value="@this.Model.Content?.Id" />
        <input type="submit" value="Confirmar APAGAR" class="btn btn-outline-danger btn-lg" />
    </form>
</div>

<hr class="custom-hr w-100" />


    <a type="button" class="btn btn-outline-primary"
       asp-action="Index">
        <i class="bi bi-arrow-left"></i> Voltar à lista de pessoas
    </a>