html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.control-label {
    display: block;
}

.input-large {
    width: 300px;
}

.input-medium {
    width: 250px;
}

.input-short {
    width: 200px;
}

h1{
    font-size: 60px;
}

h2 {
    font-size: 55px;
}

h3 {
    font-size: 50px;
}

h4 {
    font-size: 45px;
}


h5 {
    font-size: 40px;
}

.width-style1 {
    max-width: 800px;
    margin: 0 auto;
}

.width-style2 {
    width: fit-content;
    margin: 0 auto;
}

.width-style3 {
    max-width: 600px;
    margin: 0 auto;
}

.width-style4 {
    width: fit-content;
    margin-top: 10px;
    margin-left: -50px;
}

.width-style5 {
    width:  fit-content;
}


a {
    text-decoration: none;
}

table tr td {
    align-content: center;
}

.custom-hr {
    width: 50%; /* Adjust the length */
    border: 2px solid #000; /* Line thickness and color */
    margin: 20px auto; /* Center it horizontally */
}

.custom-hr2 {
    width: 50%; /* Adjust the length */
    border: 2px solid #000; /* Line thickness and color */
}

.alert-dismissible2 {
    padding-right: 1em;
}