@using ControleEmpresasFuncionariosMvc.Dtos
@model ControleEmpresasFuncionariosMvc.Models.ViewModels.ResponseViewModel<List<CompaniesWorkersJobsReportDto>>

<div>
    @{
        ViewData["Title"] = "Relatório de empresas";
    }

    <h2>@ViewData["Title"]</h2>

    <hr class="custom-hr w-100" />

    @if (this.Model.Content == null || this.Model.Content.Count <= 0)
    {
        <div class="alert alert-dismissible alert-primary width-style5">
            Nenhum dado a ser exibido.
        </div>
    }
    else
    {

        <div class="d-flex justify-content-center alert alert-dismissible alert-primary">
            <table class="table table-hover table-secondary">
                <thead>
                    <tr>
                        <th>
                            <div class="text-start ps-4">
                                <strong style="font-size: 20px;">Nome</strong>
                            </div>
                        </th>
                        <th>
                            <div class="text-center">
                                <strong style="font-size: 20px;">Número de Funcionários</strong>
                            </div>
                        </th>
                        <th style="width: 300px;">
                            <div class="text-center">
                                <strong style="font-size: 20px; ">Número de Cargos</strong>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in this.Model.Content)
                    {
                        <tr>
                            <td>
                                <div class="text-start ps-4">
                                    @Html.DisplayFor(modelItem => item.CompanyName)
                                </div>
                            </td>
                            <td>
                                <div class="text-center">
                                    @Html.DisplayFor(modelItem => item.CountWorkers)
                                </div>
                            </td>
                            <td>
                                <div class="text-center">
                                    @Html.DisplayFor(modelItem => item.CountJobs)
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    <hr class="custom-hr w-100" />

    <div class="d-flex align-items-center" style="margin-left: 0%; width: 100%;">
        <a type="button" class="btn btn-outline-primary"
           asp-action="Index">
            <i class="bi bi-arrow-left"></i> Voltar à página de relatórios
        </a>
    </div>
</div>