@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <h1 class="display-1">Projeto:</h1>
    <h2><strong>Controle Empresas, Cargos, Pessoas e Funcionários</strong></h2>
</div>
