
@{
    ViewData["Title"] = "ERRO 404";
}

<div class="d-flex justify-content-center align-items-center" style="height: 75vh;">
    <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
        <div class="card-header">
            @ViewData["Title"]
        </div>
        <div class="card-body">
            <h4 class="card-title">Página inexistente!</h4>
            <p class="card-text">A página que você tentou acessar não existe.</p>
        </div>
    </div>
</div>
